<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <commitSession>
        <!-- 
          Adds information from the interaction and contact records into the data field of an Event
          so that all data is available from one document in the search index.          
        -->
        <processor x:after="*[@type='Sitecore.Analytics.Pipelines.CommitSession.UpdateContactSaveMode, Sitecore.Analytics']"
          type="Sitecore.Modules.EmailCampaign.Core.Pipelines.CommitSession.AddContactInteractionDataToEvent, Sitecore.EmailCampaign">
          <param desc="logger" ref="exmLogger" />
        </processor>
      </commitSession>
    </pipelines>
  </sitecore>
</configuration>